<div *ngIf="view">
  <div class="d-flex flex-nowrap bd-highlight">
    <div *ngFor="let role of roles"
        (click)="onClick(role)"
        [class]="getClass(role.roleId) + ' p-2 bd-highlight border role'">
        {{role.name}}
    </div>
  </div>
  <div *ngIf="!addRole">
    <div>
      <div *ngFor="let permission of permissions">
      <input type="checkbox" 
              [id]="permission.name" 
              [value]="permission.name"
              [checked]="permissionCheckBoxList.indexOf(permission.name) > -1"
              (change)="onChangeCheckbox(permission)">
      <label>{{permission.name}}</label>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button class="btn" (click)="back()">Back</button>
      <button class="btn btn-success" (click)="submit()">Submit</button>
      <button class="btn" (click)="deleteRole()">Delete Role</button>
    </div>
  </div>
  <div *ngIf="addRole">
    <hr>
    <input type="text" 
          [(ngModel)]="newRoleName" 
          placeholder="Write new role name"
          class="form-control">
    <button class="btn d-block mx-auto" 
            (click)="addNewRole()">Add role</button>
  </div>
<div>
