<div>
    <h2 class="text-center">Login in your account</h2>
    <form calss="form-group">
        <label>Login</label>
        <input type="text" 
               class="form-control" 
               [(ngModel)]="form['login']" 
               [ngModelOptions]="{standalone: true}" >
        <label>Password</label>
        <input type="password" 
               class="form-control" 
               [(ngModel)]="form['password']"
               [ngModelOptions]="{standalone: true}">
        <button (click)="onSubmit()"
                type="button" 
                class="btn btn-success">Submit</button>
    </form>
    <button type="button" 
            (click)="register()"
            class="btn">
        Or create new Account</button>
</div>